@font-face {
    font-family: 'YoungSerif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('opentype'); 
}

@font-face {
    font-family: 'Outfit-Light';
    src: url('assets/fonts/outfit/static/Outfit-Light.ttf') format('opentype'); 
} 

@font-face {
    font-family: 'Outfit-Bold';
    src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('opentype'); 
} 


:root {
    --cor00: #FFFFFF;
    --cor01: #F3E5D8;
    --cor02: #5E293F;
    --cor03: #FFF7FC;
    --cor04: #7D4A3A;

    --fonte-titulo: 'YoungSerif';
    --fonte-corpo: 'Outfit-Light';
    --fonte-corpo-bold: 'Outfit-Bold';
} 


body {
    background-color: var(--cor01);
}

main {
    background-color: var(--cor00);
    min-width: none;
    max-width: 50%;
    margin: auto;
    padding: 50px;
    border-radius: 30px;
    font-family: var(--fonte-corpo);
}

main h1, h2, h3 {
    font-family: var(--fonte-titulo);
}

main img {
    width: 100%;
    border-radius: 20px;
}


#preparation-time {
    background-color: var(--cor03);
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#preparation-time h3 {
    font-family: var(--fonte-corpo-bold);
    color: var(--cor02);
}


h2 {
    color: var(--cor04);
    font-weight: 500;
    font-size: 27px;
}


ul li {
    list-style-type: none; 
    position: relative; 
    margin-bottom: 0.5em;
}

ul li:before {
    content: '•';
    display: inline-block; 
    position: absolute;
    left: -1.5em;
}


#preparation-time li:before {
    color: var(--cor02);
}

#ingredients li:before {
    color: var(--cor04);
}


.separator {
    border-bottom: 1px solid #ccc;
    margin-bottom: 35px;
}


#instructions, #ingredients {
    margin-bottom: 35px;
} 


#instructions ol {
    list-style-type: none;
    counter-reset: item; 
    padding-left: 3px; 
}

#instructions ol li {
    counter-increment: item; 
    margin-bottom: 0.5em; 
    position: relative;
}

#instructions ol li::before {
    content: counter(item) "."; 
    color: var(--cor04);
    font-weight: bold;
    margin-right: 1.1em; 
}


table {
    border-collapse: collapse; 
    width: 100%; 
}
  
th, td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #ccc; 
}
  
th {
    font-weight: lighter;
}

td {
    font-family: var(--fonte-corpo-bold);
    color: var(--cor04);
}


footer {
    background-color: var(--cor03);
    color: rgb(24, 24, 24);
    text-align: center;
    font-family: var(--fonte-corpo);
    font-size: 0.9em;
    padding: 7px;
    margin-top: 5%;
}

footer a {
    color: #5E293F;
    font-weight: bolder;
    text-decoration: none;
    font-family: var(--fonte-corpo-bold);
}
